#header
  img#catlogo.pull-left(src="/img/graphic1.png")
  .claims.pull-left
    each cat in cats
      if cat.found
        img.found(src="/img/monstercat_found.png", data-foundid=cat.eggId,
          data-foundby=cat.name)
      else
        img(src="/img/monstercat_missing.png")
    .div(style="color: #aaa;") Find the hidden monstercats to win a shirt and a bag!
  .pull-right
    a(href="http://itunes.apple.com/album/monstercat-009-reunion/id556702750?l=fr&v0=9988&ign-mpt=uo%3D1",
        target="_blank")
      img(src="/img/graphic2.png", width="95%", height="95%")

script
  $(document).ready(function(){
      $(".found").popover({
        placement: 'bottom',
        selector: true,
        trigger: 'hover',
        title: "Found!",
        content: function(){
          return "by: " + $(this).data("foundby");
        }
      });

      var postTemplate = function(message, name, dt) {
          var diff = Date.now() - new Date(dt).getTime()
          return '<div class="post" style="display: none;"><span id="post"'+ 1 +
            'class="msg"><p>' + message +
            '</p></span><span class="msgname"> &nbsp;&nbsp; &mdash; ' + name +
            '</span><span class="timestamp"> &nbsp;&nbsp ' + Math.round((diff/1000)/60) + ' minutes ago</span></div>';
      }


      if( $.cookie('monstercat') !== null ){
        $("#form").hide();
        $("#activity").show();
        $("#feed").height(600);
      }

      // change for production
      var socket = io.connect("http://united.monstercat.com");

      initMap(null, socket, function(obj){
        var map = obj.map;
        var info_window = obj.info_window;
        var numPosts = 0;

        socket.on('feedUpdate', function(data){
          if (numPosts > 50)
            $(".post").last().remove();
          var html = postTemplate(data.update[0].message, data.update[0].name, data.update[0].date);
          $("#feed").prepend(html);
          numPosts++;
          $(".post").slideDown();

          placePin(data.update[0], map, info_window);
        })

        socket.on('new', function(data){
          for(var i = 0; i < data.feed.length; i ++){
            var html = postTemplate(data.feed[i].message, data.feed[i].name, data.feed[i].date);
            $("#feed").append(html);
            numPosts++;
          }
          $(".post").show('slow');
        })

        $("#submit").on("click", {
          map: obj.map,
          info_window: obj.info_window
        }, function(e){
          validate(e, socket)
        });
      });

      $("#location").typeahead({
        property: "label",
        source: function(typeahead, query){
          $.ajax({
            url: "http://ws.geonames.org/searchJSON",
            dataType: "jsonp",
            data: {
              featureClass: "P",
              style: "full",
              maxRows: 12,
              name_startsWith: query
            },
            success: function( data ) {
              typeahead.process( $.map( data.geonames, function( item ) {
                return {
                  label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                  value: {
                    address: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                    lat: item.lat,
                    lng: item.lng
                  }
                }
              }));
            },
            error: function() {

            }
          });
        },
        onselect: function(obj){

          $("#lat").val(obj.value.lat);
          pin.lat = obj.value.lat;

          $("#lng").val(obj.value.lng);
          pin.lng = obj.value.lng;

        }
      });
      function createCaptcha(){
        Recaptcha.create("6LcXaNYSAAAAAIVQ-H4GWTwuKi_kBq_4ixT0H3YG", "recaptcha",
          {
            theme: "white",
            callback: Recaptcha.focus_response_field
          }
        );
      }
      createCaptcha();

    });


br

#catModal.modal.hide.fade(role="dialog", aria-labelledby="myModalLable")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true")
      | &times;
    h3 You found a hidden Monstercat!
    .modal-body
      p#modalMsg
      p
        | You have won a Monstercat shirt and bag! Enter your email and name so we
        | can contact you for your info.

    form.form-horizontal
      input#modalEggId(type="hidden", value="")
      fieldset
        .control-group
          label.control-label(for="contestName") Name
          .controls
            input#contestName(type="text", name="contestName")
        .control-group
          label.control-label(for="email") Email
          .controls
            input#email(type="text", name="email")

    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close
      a.btn.btn-primary.submit-cat(href="#") Submit

#main
  #map_canvas(style="height: 100%; width: 100%;")
  .rightform
    #form
      .alert#form-err(style="display: none;")
        button.close(type="button", data-dismiss="alert") x
      form.form-horizontal(method="", enctype="multipart/form-data")
        fieldset
          .control-group
            label.control-label(for="name") Name
              em *
            .controls
              input#name(type="text", name="name", placeholder="Enter Name...")
          .control-group
            label.control-label(for="location") City
              em *
            .controls
              input#location(type="text", name="location", autocomplete="off", placeholder="Enter Your Location...")
              span.help-block
                | You <i>must</i> choose a location from the dropdown
          .control-group
            label.control-label(for="state") Message
              em *
            .controls
              textarea#msg(rows="3", placeholder="Leave a meaningful message...")
              span.help-block 140 Character Limit

          input#lat(type="hidden", name="lat")
          input#lng(type="hidden", name="lng")

          #recaptcha

        fieldset.pull-right(style="padding-right: 50px; margin-top: 3px;")
          button#submit.btn.btn-small(type="button") Submit

    h4#activity(style="display:none;") Activity Feed
    #feed.rightfeed


