h1= title
p Welcome To Monstercat United:)

if err
  .alert= err
script
  $(document).ready(function(){
      requestPosition();
    });

br
#main
  #map_canvas(style="height: 750px; width: 100%;")

  #form(style="position: absolute; top: 150px; right: 0px;")

    form.form-horizontal(method="", enctype="multipart/form-data")
      fieldset
        .control-group
          label.control-label(for="name") Name
          .controls
            input#name(type="text", name="name")
        .control-group
          label.control-label(for="city") City&#47;Town
          .controls
            input#city(type="text", name="city")
        .control-group
          label.control-label(for="state") State&#47;Province
          .controls
            input#state(type="text", name="state")
        .control-group
          label.control-label(for="zip") Zipcode&#47;Postal Code
          .controls
            input#zip(type="text", name="zip")
        .control-group
          label.control-label(for="state") Message
          .controls
            textarea#msg(rows="3")
            span.help-block 140 Character Limit

        input#lat(type="hidden", name="lat")
        input#lng(type="hidden", name="lng")
        fieldset.pull-right(style="padding-right: 50px;")
          button#submit.btn.btn-small(type="button", onclick="validate()") Submit
          button#cancel.btn.btn-small(type="button", onclick="cancel()") Cancel

