#header
  img#catlogo.pull-left(src="/img/graphic1.png")
  .claims.pull-left
    each cat in cats
      if cat.found
        img.found(src="/img/monstercat_found.png", data-foundid=cat.eggId,
          data-foundby=cat.name)
      else
        img(src="/img/monstercat_missing.png")
  .pull-right
    a(href="http://itunes.apple.com/album/monstercat-009-reunion/id556702750?l=fr&v0=9988&ign-mpt=uo%3D1",
        target="_blank")
      img(src="/img/graphic2.png", width="95%", height="95%")

script
  $(document).ready(function(){
      $(".found").popover({
        placement: 'bottom',
        selector: true,
        trigger: 'hover',
        title: "Found!",
        content: function(){
          return "by: " + $(this).data("foundby");
        }
      });

      var map, info_window;

      if( $.cookie('unitedMarker') !== null ){
        $("#form").hide();
      }

      requestPosition(function(obj){
        $("#submit").on("click", {
          map: obj.map,
          info_window: obj.info_window
        }, validate);
      });

      $("#location").typeahead({
        property: "label",
        source: function(typeahead, query){
          $.ajax({
            url: "http://ws.geonames.org/searchJSON",
            dataType: "jsonp",
            data: {
              featureClass: "P",
              style: "full",
              maxRows: 12,
              name_startsWith: query
            },
            success: function( data ) {
              typeahead.process( $.map( data.geonames, function( item ) {
                return {
                  label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                  value: {
                    address: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                    lat: item.lat,
                    long: item.lng
                  }
                }
              }));
            },
            error: function() {

            }
          });
        },
        onselect: function(obj){

          $("#lat").val(obj.value.lat);
          pin.lat = obj.value.lat;

          $("#lng").val(obj.value.long);
          pin.long = obj.value.long;

        }
      });
      function createCaptcha(){
        Recaptcha.create("6LcXaNYSAAAAAIVQ-H4GWTwuKi_kBq_4ixT0H3YG", "recaptcha",
          {
            theme: "white",
            callback: Recaptcha.focus_response_field
          }
        );
      }
      createCaptcha();

    });


br

#catModal.modal.hide.fade(role="dialog", aria-labelledby="myModalLable")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true")
      | &times;
    h3 You found a hidden Monstercat!
    .modal-body
      p#modalMsg
      p
        | You have won a Monstercat shirt and bag! Enter your email and name so we
        | can contact you for your info.

    form.form-horizontal
      input#modalEggId(type="hidden", value="")
      fieldset
        .control-group
          label.control-label(for="contestName") Name
          .controls
            input#contestName(type="text", name="contestName")
        .control-group
          label.control-label(for="email") Email
          .controls
            input#email(type="text", name="email")

    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close
      a.btn.btn-primary.submit-cat(href="#") Submit

#main
  #map_canvas(style="height: 100%; width: 100%;")

  #form.rightform
    .alert#form-err(style="display: none;")
      button.close(type="button", data-dismiss="alert") x

    form.form-horizontal(method="", enctype="multipart/form-data")
      fieldset
        .control-group
          label.control-label(for="name") Name
            em *
          .controls
            input#name(type="text", name="name", placeholder="Enter Name...")
        .control-group
          label.control-label(for="location") Location
            em *
          .controls
            input#location(type="text", name="location", autocomplete="off", placeholder="Enter Your Location...")
        .control-group
          label.control-label(for="state") Message
            em *
          .controls
            textarea#msg(rows="3")
            span.help-block 140 Character Limit

        input#lat(type="hidden", name="lat")
        input#lng(type="hidden", name="lng")

        #recaptcha

      fieldset.pull-right(style="padding-right: 50px;")
        button#submit.btn.btn-small(type="button") Submit
