h1= title
p Welcome To Monstercat United:)

if err
  .alert= err
#alert.alert(style="display: none;")
  button.close(type="button", data-dismiss="alert") x


script
  $(document).ready(function(){
      requestPosition();
      $("#location").typeahead({
        property: "label",
        source: function(typeahead, query){
          $.ajax({
            url: "http://ws.geonames.org/searchJSON",
            dataType: "jsonp",
            data: {
              featureClass: "P",
              style: "full",
              maxRows: 12,
              name_startsWith: query
            },
            success: function( data ) {
              console.log(data.geonames);
              typeahead.process( $.map( data.geonames, function( item ) {
                return {
                  label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                  value: {
                    address: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                    lat: item.lat,
                    long: item.lng
                  }
                }
              }));
            },
            error: function() {

            }
          });
        },
        onselect: function(obj){
          console.log(obj);
          if($("#lat").val() === ""){
            $("#lat").val(obj.lat);
          }
          if($("#long").val() === ""){
            $("#long").val(obj.long);
          }
        }
      });
    });


br
#main
  #map_canvas(style="height: 750px; width: 100%;")

  #form(style="position: absolute; top: 150px; right: 0px;")

    form.form-horizontal(method="", enctype="multipart/form-data")
      fieldset
        .control-group
          label.control-label(for="name") Name
            em *
          .controls
            input#name(type="text", name="name")
        .control-group
          label.control-label(for="location") Location
            em *
          .controls
            input#location(type="text", name="location", autocomplete="off")
        .control-group
          label.control-label(for="state") Message
            em *
          .controls
            textarea#msg(rows="3")
            span.help-block 140 Character Limit

        input#lat(type="hidden", name="lat")
        input#lng(type="hidden", name="lng")
        fieldset.pull-right(style="padding-right: 50px;")
          button#submit.btn.btn-small(type="button", onclick="validate()") Submit
