h1= title
p Welcome To Monstercat United:)

if err
  .alert= err
script
  $(document).ready(function(){
    console.log("fired")
    requestPosition()
  })

br
#main(style="height: 1000px;")
  #map_canvas

  #form(style="position: absolute; top: 150px; right: 0px;")

    form.form-horizontal(method="post", enctype="multipart/form-data")
      fieldset
        .control-group
          label.control-label(for="name") Name
          .controls
            input#name(type="text", name="name")
        .control-group
          label.control-label(for="city") City&#47;Town
          .controls
            input#city(type="text", name="city")
        .control-group
          label.control-label(for="state") State&#47;Province
          .controls
            input#state(type="text", name"state")
        .control-group
          label.control-label(for="state") Note
          .controls
            textarea(rows="3")
          p.help-block
        fieldset.pull-right
          input#uploadButton.btn.custom(type="submit", value="Submit")

