!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/underscore-min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/jquery.cookie.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCB2BWhWH4K2FKfxHbzzI_I9YFSMiSgxPY&sensor=false")
    script(src="/js/recaptcha_ajax.js")
    script(src="/js/bootstrap.js")
    script(src="/js/bootstrap-typeahead.js")
    script(src="/js/united.js?11")
    script(src="/js/markerclusterer_compiled.js")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34841154-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body!= body
