html {
  height: 100%
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#catlogo {
  padding-left: 10px;
}

#map_canvas {
  position: absolute;
  top: 0px;
  z-index: -10;
}

.rightform {
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: rgba(255,255,255,0.75);
  border-bottom-left-radius: 3px;
  height: 620px;
  width: 340px;
  padding: 10px;
}

.rightfeed {
  overflow: auto;
  border-top: 1px #A9A9A9 solid;
  height: 190px;
  width: 340px;
  margin-top: 5px;
}

.post {
  border: solid #AAA 1px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 0px;
  width: 300px;
}

.timestamp {
  color: #AAA;
  font-style: italic;
}

.msgname {
  font-weight:bold;
  font-style:italic;
  text-indent: 10px;
}

.claims {
  padding: 15px;
}

#header {
  height: 90px;
  position: absolute;
  top: 0px;
  background-color: rgba(255,255,255,0.75);
  background-repeat: repeat-x;
  width: 99%;
  padding: 10px;
}

.form-horizontal .controls {
  margin-left: 80px !important;
}

.form-horizontal .control-label {
  width: 0px !important;
}
