html {
  height: 100%
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#catlogo {
  padding-left: 10px;
}

#map_canvas {
  position: absolute;
  top: 0px;
  z-index: -10;
}

.rightform {
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: rgba(255,255,255,0.75);
  background-repeat: repeat-x repeat-y;
  border-bottom-left-radius: 3px;
  overflow: auto;
  width: 310px;
  padding: 10px;
}

.claims {
  padding: 15px;
}

#header {
  height: 90px;
  position: absolute;
  top: 0px;
  background-color: rgba(255,255,255,0.75);
  background-repeat: repeat-x;
  width: 99%;
  padding: 10px;
}

.form-horizontal .controls {
  margin-left: 80px !important;
}

.form-horizontal .control-label {
  width: 0px !important;
}
