html {
  height: 100%
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map_canvas {
  height: 750px;
  position: absolute;
  top: 110px;
}

.rightform {
  position: absolute;
  top: 110px;
  right: 0px;
  background-color: white;
  background-repeat: repeat-x repeat-y;
  overflow: auto;
  width: 300px;
  padding: 10px;
}

#header {
  height: 89px;
  position: absolute;
  top: 0px;
  background-image: url("/img/light_wool.png");
  background-repeat: repeat-x;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.form-horizontal .controls {
  margin-left: 80px !important;
}

.form-horizontal .control-label {
  width: 0px !important;
}
